@font-face {
  font-family: 'BourtonScriptBold';
  src: local('BourtonScriptBold'),
       url('../public/fonts/BourtonScriptBold.ttf') format('woff2');
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #f3f4f2;
  transition: background-color 1s ease;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.color-home {
  background-color: #f3f4f2;
}

body.color-about {
  background-color: #ccd1c1;
}

body.color-skills {
  background-color: #b2b7a5;
}

body.color-portfolio {
  background-color: #99a08a;
}

body.color-contact {
  background-color: #858c74;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  height: 100%;
}